@use '@styles/mixins';
@use '@styles/theme';
@use '@styles/layout';

.evolutionsTitle {
  padding-top: layout.$spacing-06;
  color: theme.$text-primary;
}

.grid {
  display: grid;
  width: 100%;
  padding: layout.$spacing-04 0;
  grid-template-columns: repeat(4, 25%);
  .gridGap {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    padding: 0 layout.$spacing-03;
  }
  @include mixins.tablet {
    grid-template-columns: repeat(3, 33.33%);
  }
  @include mixins.mobile {
    grid-template-columns: repeat(2, 50%);
  }
}
