@use '@carbon/styles/scss/theme';
@use '@carbon/layout';
@use '../../styles/customVariables' as c-vars;
@use '../../styles/media';

.root {
  padding: layout.$spacing-04;
}
.borderBox {
  border: solid theme.$border-subtle-02 1px;
}
.imageBox {
  position: relative;
  padding: layout.$spacing-04;
  .soundIconWrapper {
    position: absolute;
    bottom: layout.$spacing-04;
    left: layout.$spacing-04;
  }
  .soundIcon {
    border-radius: 50%;
    padding: layout.$spacing-04;
    svg {
      height: 48px;
      width: 48px;
    }
    &:hover {
      background: transparent;
      svg {
        fill: c-vars.$my-enlightened-primary-color;
      }
    }
  }
}
.imageWrapper {
  max-width: min(50%, 600px);
  margin: 0 auto;

  @include media.tablet {
    max-width: 66.66%;
  }
  @include media.mobile {
    max-width: 100%;
    padding: 0 layout.$spacing-06;
  }
}

.grayBox {
  background: theme.$field-01;
}

.descriptionBox {
  $popularity-with: 48px;

  padding: layout.$spacing-04;
  background: theme.$field-01;
  display: grid;
  grid-template-columns: calc(100% - $popularity-with) $popularity-with;
  align-items: center;

  .description {
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-02;
  }
}

.progressBarBox {
  display: grid;
  width: 100%;
  padding: 0 layout.$spacing-04 layout.$spacing-07;
  gap: layout.$spacing-03;
  grid-template-columns: 1fr auto;
  grid-template-rows: layout.$spacing-06 layout.$spacing-06;
  align-items: center;
}
.progressBar {
  border-radius: layout.$spacing-03;
  background-color: c-vars.$my-primary-color;
  height: 0.65rem;
}
.progressBarSecondary {
  background-color: #9f9fff;
}

.dimensionsBox {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  border-top: solid theme.$border-subtle-02 1px;
}
.dimensionDivider {
  background: theme.$border-subtle-02;
}

.dimension {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: layout.$spacing-06 layout.$spacing-04;
  gap: layout.$spacing-04;
}
