@use '@carbon/styles/scss/theme';
@use '@carbon/layout';

.card {
  border: solid 1px theme.$border-subtle-01;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageWrapper {
  padding: layout.$spacing-09 layout.$spacing-03;
  position: relative;
}

.quickViewButtonBox {
  position: absolute;
  bottom: 0;
  left: 0;
}
