@use '@styles/theme';
@use '@styles/layout';

$popularity-with: 32px;

.root {
  padding: layout.$spacing-04;
  background: theme.$field-01;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: calc(100% - $popularity-with) $popularity-with;
  align-items: center;

  .description {
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-02;
    width: 100%;
    max-width: 100%;
    span,
    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .name {
      color: theme.$text-primary;
      text-decoration: none;
    }
    .types {
      line-height: 1.2rem;
    }
  }
}

.rootWithNoTypes {
  padding: layout.$spacing-03 layout.$spacing-04;
}
