@use '../../styles/theme';
@use '../../styles/layout';

.listItem {
  display: flex;
  width: 100%;
  height: layout.$spacing-10;
  border: solid 1px theme.$border-strong-01;
  .imageWrapper {
    width: 62px;
    height: 62px;
    border: solid 2px #ffffff;
  }
}
