@use '@carbon/layout';

$my-primary-color: #72c0a1;
$my-darkened-primary-color: darken($my-primary-color, 10%);
$my-component-background: #eeeeee;
$page-padding: layout.$spacing-04;
$plex-18: 1.125rem;
$semi-bold: 600;

@use '@carbon/styles/scss/theme' with (
  $theme: (
    interactive: $my-primary-color,
    focus: $my-primary-color,
    focus-inset: $my-primary-color,
    focus-inverse: $my-primary-color,
    link-primary: $my-primary-color,
    link-primary-hover: $my-primary-color,
    link-visited: $my-primary-color,
    link-inverse: $my-primary-color,
    button-primary: $my-primary-color,
    layer-selected-inverse: $my-primary-color,
    text-on-color: #fff,
    border-inverse: $my-primary-color,
    icon-primary: $my-primary-color,
    field-01: $my-component-background,
    border-subtle-01: #d9d9d9,
  )
);
