@use 'customVariables' as *;

@use '@carbon/themes/scss/component-tokens' with (
  // look for tokens in frontend/node_modules/@carbon/themes/scss/_component-tokens.scss
  $button-primary:
    (
      white-theme: $my-primary-color,
      g-10: $my-primary-color,
      g-90: $my-primary-color,
      g-100: $my-primary-color
    ),
  $button-primary-active: (
    white-theme: $my-darkened-primary-color,
    g-10: $my-darkened-primary-color,
    g-90: $my-darkened-primary-color,
    g-100: $my-darkened-primary-color
  ),

  $button-primary-hover: (
    white-theme: $my-enlightened-primary-color,
    g-10: $my-enlightened-primary-color,
    g-90: $my-enlightened-primary-color,
    g-100: $my-enlightened-primary-color
  )
);
@forward '@carbon/themes/scss/component-tokens';

@use '@carbon/styles/scss/theme' with (
  $theme: (
    interactive: $my-primary-color,
    focus: $my-primary-color,
    focus-inset: $my-primary-color,
    focus-inverse: $my-primary-color,
    link-primary: $my-primary-color,
    link-primary-hover: $my-primary-color,
    link-visited: $my-primary-color,
    link-inverse: $my-primary-color,
    button-primary: $my-primary-color,
    layer-selected-inverse: $my-primary-color,
    text-on-color: #fff,
    border-inverse: $my-primary-color,
    icon-primary: $my-primary-color,
    field-01: $my-component-background,
    border-subtle-01: #d9d9d9,
    border-subtle-02: #cccccc,
  )
);

@forward '@carbon/styles/scss/theme';
