@use 'customVariables' as c-vars;
@use '@carbon/styles/scss/theme';
@use '@carbon/layout';

//.main {
//  min-height: 100vh;
//}
//
//.header {
//  position: sticky;
//  top: 0;
//  padding: c-vars.$page-padding;
//  display: grid;
//  width: 100%;
//  max-width: 100%;
//  grid-template-areas:
//    'contentSwitcher contentSwitcher contentSwitcher contentSwitcher contentSwitcher'
//    'search dropdown listViewButton divider gridViewButton';
//  grid-template-columns: 1fr minmax(auto, 250px) repeat(3, auto);
//  gap: layout.$spacing-03;
//  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px -2px, rgba(0, 0, 0, 0.14) 0 3px 4px 0,
//    rgba(0, 0, 0, 0.12) 0 1px 8px 0px;
//  background: theme.$background;
//  z-index: 1;
//}
//
//.contentSwitcher {
//  grid-area: contentSwitcher;
//}
//
//.search {
//  grid-area: search;
//  background-color: theme.$field-01;
//}
//.dropdown {
//  grid-area: dropdown;
//  background-color: theme.$field-01;
//}
//.listViewButton {
//  grid-area: listViewButton;
//}
//.divider {
//  grid-area: divider;
//  width: 1px;
//  height: 100%;
//  background: #f2f2f2;
//}
//.gridViewButton {
//  grid-area: gridViewButton;
//}
//
//.content {
//  padding: c-vars.$page-padding 0;
//}
//
//.noResults {
//  width: 100%;
//  display: flex;
//  justify-content: center;
//}
//
//.list {
//  display: flex;
//  flex-direction: column;
//  width: 100%;
//  gap: layout.$spacing-05;
//  padding: 0 layout.$spacing-04;
//}
//
//.listItem {
//  display: flex;
//  width: 100%;
//  height: layout.$spacing-10;
//  border: solid 1px theme.$border-strong-01;
//  .imageWrapper {
//    width: 62px;
//    height: 62px;
//    border: solid 2px #ffffff;
//  }
//}

.root {
  padding: layout.$spacing-04;
}
.borderBox {
  border: solid theme.$border-subtle-01 1px;
}
.imageBox {
  position: relative;
  padding: layout.$spacing-04;
  .soundIconWrapper {
    position: absolute;
    bottom: layout.$spacing-04;
    left: layout.$spacing-04;
  }
  .soundIcon {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    &:hover {
      background: transparent;
      svg {
        fill: c-vars.$my-enlightened-primary-color;
      }
    }
  }
}
.imageWrapper {
  max-width: 50%;
  margin: 0 auto;
}

.grayBox {
  background: theme.$field-01;
}

.progressBarBox {
  display: grid;
  width: 100%;
  padding: layout.$spacing-04 layout.$spacing-04 layout.$spacing-07;
  gap: layout.$spacing-03;
  grid-template-columns: 1fr auto;
  grid-template-rows: layout.$spacing-06;
  align-items: center;
}
.progressBar {
  border-radius: layout.$spacing-03;
  background-color: c-vars.$my-primary-color;
  height: 0.65rem;
}
.progressBarSecondary {
  background-color: #9f9fff;
}

.evolutionsTitle {
  padding-top: layout.$spacing-04;
  font-weight: c-vars.$semi-bold;
  font-size: c-vars.$plex-18;
  color: theme.$text-primary;
}

.grid {
  display: grid;
  width: 100%;
  padding: layout.$spacing-04 0;
  grid-template-columns: repeat(4, 25%);
  .gridGap {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    padding: 0 layout.$spacing-03;
  }
}

@media (max-width: 768px) {
  //.header {
  //  grid-template-columns: 1fr minmax(auto, 150px) repeat(3, auto);
  //}
  .imageWrapper {
    max-width: 66.66%;
  }
  .grid {
    grid-template-columns: repeat(3, 33.33%);
  }
}
@media (max-width: 480px) {
  //.header {
  //  grid-template-columns: 1fr minmax(auto, 120px) repeat(3, auto);
  //}
  .imageWrapper {
    max-width: 100%;
    padding: 0 layout.$spacing-06;
  }
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
