@use '@carbon/layout';
@use '@carbon/themes';

$semi-bold: 600;
$plex-18: 1.125rem;

.footer {
  padding: layout.$spacing-04;
  background: themes.$field-01;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  .description {
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-02;
  }
  .name {
    font-weight: $semi-bold;
    font-size: $plex-18;
  }
}
