@use '@carbon/layout';
@use '@carbon/themes';

.main {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-auto-flow: column;
  grid-template-areas:
    'header'
    'content';
  grid-template-rows: auto 1fr;
}

.header {
  padding: layout.$spacing-03;
  display: grid;
  width: 100%;
  grid-template-areas:
    'contentSwitcher contentSwitcher contentSwitcher contentSwitcher contentSwitcher'
    'search dropdown listViewButton divider gridViewButton';
  grid-template-columns: 2fr 250px repeat(3, auto);
  gap: layout.$spacing-03;
}

.contentSwitcher {
  grid-area: contentSwitcher;
}

.search {
  grid-area: search;
  background-color: themes.$field-01;
}
.dropdown {
  grid-area: dropdown;
}
.listViewButton {
  grid-area: listViewButton;
}
.divider {
  grid-area: divider;
  width: 1px;
  height: 100%;
  background: #f2f2f2;
}
.gridViewButton {
  grid-area: gridViewButton;
}
