@use '@carbon/layout';
@use '@carbon/themes';

$page-padding: layout.$spacing-04;
$plex-18: 1.125rem;
$semi-bold: 600;

.main {
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  padding: $page-padding;
  display: grid;
  width: 100%;
  grid-template-areas:
    'contentSwitcher contentSwitcher contentSwitcher contentSwitcher contentSwitcher'
    'search dropdown listViewButton divider gridViewButton';
  grid-template-columns: 2fr 250px repeat(3, auto);
  gap: layout.$spacing-03;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px -2px, rgba(0, 0, 0, 0.14) 0 3px 4px 0,
    rgba(0, 0, 0, 0.12) 0 1px 8px 0px;
  background: themes.$background;
  z-index: 1;
}

.contentSwitcher {
  grid-area: contentSwitcher;
}

.search {
  grid-area: search;
  background-color: themes.$field-01;
}
.dropdown {
  grid-area: dropdown;
  background-color: themes.$field-01;
}
.listViewButton {
  grid-area: listViewButton;
}
.divider {
  grid-area: divider;
  width: 1px;
  height: 100%;
  background: #f2f2f2;
}
.gridViewButton {
  grid-area: gridViewButton;
}

.content {
  padding-top: layout.$spacing-05;
}

.noResults {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: layout.$spacing-05;
  padding: 0 $page-padding $page-padding;
}

.listItem {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: layout.$spacing-05;
  height: layout.$spacing-10;
  background: themes.$field-01;
  border: solid 1px themes.$border-strong-01;
  padding-right: layout.$spacing-04;
  .imageWrapper {
    width: 62px;
    height: 62px;
    border: solid 2px #ffffff;
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-02;
  }
  .name {
    font-weight: $semi-bold;
    font-size: $plex-18;
  }
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: layout.$spacing-05;
  padding: 0 $page-padding $page-padding;
}
