@use 'customVariables' as c-vars;
@use '@carbon/layout';
@use '@carbon/react/scss/theme' with (
  $theme: c-vars.$my-theme
);

.card {
  border: solid 1px theme.$border-subtle-01;
}

.footer {
  padding: layout.$spacing-04;
  background: theme.$field-01;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  .description {
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-02;
  }
  .name {
    font-weight: c-vars.$semi-bold;
    font-size: c-vars.$plex-18;
  }
}

.imageWrapper {
  padding: layout.$spacing-09 layout.$spacing-03;
}
